.counters {
	background-color: var(--color-green);
}

.counters__container {
  @include container;
}

.counters__list {
  @include reset-ul;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: minmax(270px, auto);
  align-content: stretch;
  border-left: 1px solid transparentize($white, .7);

  @media (min-width: $laptop) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.counters__item {
  text-align: center;
  padding: 80px 15px;
  border-right: 1px solid transparentize($white, .7);

  @media (max-width: 500px) {
    border-bottom: 1px solid transparentize($white, .7);

    &:last-child {
      border-bottom: none;
    }
  }
}

.counters__number {
	color: var(--color-white);
	font-size: 72px;
	font-weight: 700;
}

.counters__title {
	color: var(--color-white);
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 0;
}
