.features {
	padding-top: 110px;
	padding-bottom: 120px;
}

.features__container {
  @include container;
}

.features__inner {
  display: grid;
  justify-content: center;
  gap: 30px;
	margin-top: 50px;

  @media (min-width: $tablet) {
    margin-top: 80px;
  }
  @media (min-width: $laptop) {
    grid-template-columns: max-content 1fr;
  }
}

.features__img {
	max-height: 380px;
}
