.footer {
	padding-top: 70px;
	background-color: $simple-grey;
}

.footer__container {
  @include container;

  display: grid;
	grid-template-columns: 465px 1fr 270px;
  gap: 0 45px;
  margin-bottom: 70px;
}

.footer__col {
  &:last-child {
    margin-right: 2px;
  }
}

.footer__logo {
	display: inline-block;
	color: $light-grey;
	font-size: 46px;
	font-weight: 700;
  line-height: 1;
	margin-bottom: 30px;
  transition: .2s;

  &:hover,
  &:focus {
    color: var(--color-red);
  }

  &:active {
    color: transparentize($red, .6)
  }
}

.footer__text {
	color: $grey;
	font-family: $text-font;
	line-height: 1.6;
}

.footer__followers {
	margin-top: 40px;
}

.footer__followers-title {
	font-size: 14px;

	.footer__followers-counter {
		font-size: 18px;
    font-weight: 700;
	}
}

.footer__social {
	@include flex;

	justify-content: flex-start;
	margin-bottom: 30px;
	padding-top: 10px;
	border-top: 1px solid $border-color;
}

.footer__social-title {
	color: $grey;
	font-family: $text-font;
	line-height: 1.6;
	font-weight: 300;
	font-style: italic;
	margin-right: 20px;
}

.footer__social-list {
	@include flex;
  @include reset-ul;
	justify-content: flex-start;
}

.footer__social-item {
	margin-right: 15px;

	&:last-child {
		margin-right: 0;
	}
}

.footer__social-link {
  color: var(--color-green);
  transition: .2s;

  &:hover,
  &:focus {
    color: var(--color-red);
  }
}

.footer__title {
  display: inline-block;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 22px;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
  transition: .2s;

  &:hover,
  &:focus {
    color: var(--color-red);
    border-bottom-color: var(--color-red);
  }

  &:active {
    opacity: .7;
  }
}

.footer__blog {
  @include reset-ul;
}

.footer__blog-item {
	display: flex;
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

.footer__blog-link {
  margin-right: 20px;
}

.footer__blog-img {
  width: 120px;
	height: 80px;
  object-fit: cover;
}

.footer__blog-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
  width: 200px;
}

.footer__blog-title {
	font-size: 12px;
	line-height: 1.5;
	text-transform: uppercase;
	margin-bottom: 10px;
	transition: .2s;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&:active {
		opacity: .4;
	}
}

.footer__blog-date {
	color: $grey;
	font-family: $text-font;
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
}

.footer__instagram {
  @include reset-ul;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2px;
}

.footer__instagram-link {
  display: block;
  overflow: hidden;
}

.footer__instagram-img {
  transition: .2s;

  &:hover {
    opacity: .9;
    transform: scale(1.1);
  }
}

.footer__instagram-more {
	display: inline-block;
	color: var(--color-grey);
	font-family: $text-font;
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
	margin-top: 17px;
	transition: .2s;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&:active {
		opacity: .4;
	}
}

.footer__copyright {
	text-align: center;
	border-top: 1px solid var(--color-border);
}

.footer__copyright-text {
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer__copyright-author {
	color: var(--color-red);
	transition: .2s;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&:active {
		opacity: .4;
	}
}
