.form__email {
	font-family: $text-font;
	font-weight: 300;
	font-style: italic;

	width: 200px;
	max-height: 40px;
	padding: 11px 15px;

	border: 1px solid $border-color;
	outline: none;
	transition: .2s;

	&::placeholder {
		color: $light-grey;
		opacity: 1;
	}

	&:hover,
	&:focus {
		border-color: $green;
	}
}

.form__submit {
	color: $white;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;

	min-height: 40px;
	margin-left: -4px;
	padding: 11px 33px 12px;

	background-color: $green;
	border: none;
	outline: none;
	transition: .2s;

	&:hover,
	&:focus {
		background-color: $red;
	}

	&:active {
		opacity: .4;
	}
}
