.header {
	color: var(--color-white);
	text-align: center;
	background-image:
    linear-gradient(transparentize($red, .15), transparentize($yellow, .15)),
		url("../img/background/header.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

.header__container {
  @include container;

  display: grid;
  align-content: space-between;
  height: 100vh;
  min-height: 360px;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    min-height: 760px;
    padding-top: 24px;
    padding-left: 0;
    padding-right: 0;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    align-items: baseline;
  }
}
