.intro {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 75%;
  }
}

.intro__wrap {
  display: flex;
  width: 100%;
}

.intro__slide {
  flex-shrink: 0;
  width: 100%;
}

.intro__title {
  font-size: 40px;
  line-height: .9;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;

  &::after {
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    margin: 25px auto 0;
    background-color: var(--color-white);
  }

  @media (min-width: $tablet-width) {
    font-size: 80px;
    margin-bottom: 35px;
  }
  @media (min-width: $laptop-width) {
    font-size: 120px;
    margin-bottom: 50px;

    &::after {
      margin-top: 70px;
    }
  }
  @media (min-width: $desktop-width) {
    font-size: 150px;
  }
}

.intro__subtitle {
  display: block;
  font-family: $subtitle-font;
  font-size: 22px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    margin-bottom: 30px;
  }
  @media (min-width: $laptop-width) {
    font-size: 52px;
  }
  @media (min-width: $desktop-width) {
    font-size: 72px;
  }
}

.intro__control {
  width: 100%;
  overflow: hidden;
}

.intro__control-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  transform: none !important;
}

.intro__control-button {
  @include resetButton;

  color: var(--color-white);
  font-size: 0;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 3px solid var(--color-white);
  transition: .2s;
  cursor: pointer;
  opacity: .7;
  position: relative;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &--active {
    opacity: 1;

    &::before {
      content: "";
      width: 35%;
      height: 3px;
      background-color: var(--color-red);
      position: absolute;
      top: -3px;
      left: 0;
    }

    &:hover,
    &:focus {
      color: var(--color-white);
      border-color: var(--color-white);
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;

    &--active {
      &::before {
        width: 25%;
      }
    }
  }
}

.intro__control-number {
  font-size: 24px;
  font-weight: 700;
  margin-right: 5px;
}
