.intro {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.intro__wrap {
  display: flex;
  width: 100%;
}

.intro__slide {
  flex-shrink: 0;
  width: 100%;
}

.intro__title {
  font-size: 150px;
  line-height: .9;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;

  &::after {
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    margin: 70px auto 0;
    background-color: var(--color-white);
  }
}

.intro__subtitle {
  display: block;
  font-family: $subtitle-font;
  font-size: 72px;
  margin-bottom: 30px;
}

.intro__control {
  width: 100%;
  overflow: hidden;
}

.intro__control-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  transform: none !important;
}

.intro__control-button {
  color: var(--color-white);
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 3px solid var(--color-white);
  transition: 0.2s;
  cursor: pointer;
  opacity: 0.7;
  position: relative;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &--active {
    opacity: 1;

    &::before {
      content: "";
      width: 25%;
      height: 3px;
      background-color: var(--color-red);
      position: absolute;
      top: -3px;
      left: 0;
    }
  }
}

.intro__control-number {
  font-size: 24px;
  font-weight: 700;
  margin-right: 5px;
}
