.map {
  height: 200px;
  background-color: var(--color-grey);
  background-image: url("../img/backgrounds/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: inherit;
    background-image: linear-gradient(transparentize($white, 0.15), transparentize($white, 0.15));
    transition: .4s;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover,
  &:focus {
    &::before {
      opacity: .4;
    }

    .map__title {
      color: var(--color-white);

      &::after {
        background-color: var(--color-white);
      }
    }
  }
}

.map__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-red);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  transition: .2s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &::after {
    @include line;

    margin-top: 15px;
    transition: .2s;
  }

  &:active {
    opacity: 0.7;
  }
}

.map__pin {
  display: block;
  width: 20px;
  height: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  transition: .2s;
}
