.nav__list {
	@include flex;
}

.nav__item {
	margin-right: 50px;

	&:last-child {
		margin-right: 0;
	}
}

.nav__link {
	color: $white;
	font-size: 14px;
	text-transform: uppercase;

	padding-bottom: 10px;
	border-bottom: 3px solid transparent;

	transition: .2s;

	&:hover,
	&:focus {
		color: $yellow;
		border-color: $yellow;
		outline: none;
	}

	&--active {
		color: $yellow;
		border-color: $yellow;
	}
}
