.nav__list {
	@include flex;
  @include reset-ul;
}

.nav__item {
	margin-right: 50px;

	&:last-child {
		margin-right: 0;
	}
}

.nav__link {
  @include hoverHeaderNav;

	color: var(--color-white);
	font-size: 14px;
	text-transform: uppercase;

	&--active {
		color: var(--color-yellow);
		border-color: var(--color-yellow);
	}
}
