.section-header {
	text-align: center;
}

.section-header__subtitle {
  @include font-size(24px);
  @include margin-bottom(10px);
  display: block;
	font-family: $subtitle-font;
	text-transform: none;
}

.section-header__title {
  @include font-size(2rem);
  @include margin-bottom(40px);
	text-transform: uppercase;

	&::after {
		@include line;
    @include margin-top(2rem);
	}

  &:last-child {
    margin-bottom: 0;
  }
}

.section-header__text {
  @include margin-bottom(1rem);
  color: var(--color-grey);
  font-family: $text-font;
  line-height: 1.6;
  max-width: 960px;
  margin: 0 auto;

  &:last-child {
    margin-bottom: 0;
  }
}
