.section-header {
	text-align: center;
}

.section-header__subtitle {
  display: block;
	font-family: $subtitle-font;
	font-size: 24px;
	text-transform: none;
	margin-bottom: 10px;
}

.section-header__title {
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 40px;

	&::after {
		@include line;
		margin-top: 30px;
	}

  &:last-child {
    margin-bottom: 0;
  }
}

.section-header__text {
	color: var(--color-grey);
	font-family: $text-font;
	line-height: 1.6;
	max-width: 960px;
	margin: 0 auto 15px;

  &:last-child {
    margin-bottom: 0;
  }
}
