.services {
	padding-top: 100px;
	padding-bottom: 110px;
}

.services__container {
  @include container;
}

.services__list {
  @include reset-ul;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 0;
	margin-top: 60px;
}

.services__item {
	width: 375px;
	padding-left: 90px;

	box-sizing: border-box;
	position: relative;

	&::before {
		content: "";

		width: 32px;
		height: 32px;
		background-repeat: no-repeat;
		background-position: center;

		position: absolute;
		top: 0;
		left: 25px;
	}

	&--alarm::before {
		background-image: url("../img/icons/alarm.png");
	}

	&--line-graph::before {
		background-image: url("../img/icons/line-graph.png");
	}

	&--computer::before {
		background-image: url("../img/icons/computer.png");
	}

	&--book::before {
		background-image: url("../img/icons/book.png");
	}

	&--home::before {
		background-image: url("../img/icons/home.png");
	}

	&--square::before {
		background-image: url("../img/icons/square.png");
	}
}

.services__title {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.services__text {
	color: var(--color-grey);
	font-family: $text-font;
	line-height: 1.6;

  &:last-child {
    margin-bottom: 0;
  }
}

.services__border {
  grid-column: 1 / -1;
  height: 1px;
  background-color: var(--color-border);
}
