.slider {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slider__link {
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;

  width: 280px;
	padding-top: 25px;
  padding-bottom: 25px;

	opacity: .7;
  transition: .2s;
	position: relative;

  &::before,
	&::after {
		content: "";
		height: 3px;

		position: absolute;
		top: 0;
		left: 0;
	}

	&::before {
		width: 100%;
		background-color: var(--color-white);
	}

	&:hover,
	&:focus {
		opacity: 1;
	}

	&--active {
		opacity: 1;

		&::after {
			width: 70px;
			background-color: var(--color-red);
		}
	}
}

.slider__link-number {
  font-size: 24px;
	font-weight: 700;
}

