.works {
	padding-top: 110px;
}

.works__list {
	display: flex;
	margin-top: 90px;
}

.works__item {
	flex-grow: 1;
	flex-shrink: 0;

	background-image: linear-gradient($red, $yellow);
	position: relative;

	.works__img {
		transition: .2s;
	}

	&:hover,
	&:focus {
		img {
			opacity: .1;
		}

		.works__description {
			opacity: 1;
		}
	}
}

.works__description {
	color: var(--color-white);
	text-align: center;

	width: 100%;
	padding-left: 20px;
	padding-right: 20px;

	box-sizing: border-box;
	opacity: 0;

	position: absolute;
	top: 50%;
	left: 0;
	transition: .2s;
}

.works__item-title {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;

	margin-bottom: 10px;
	position: relative;

	&::before {
		content: "";
		width: 30px;
		height: 30px;

		background-image: url("../img/icons/picture.png");
		background-repeat: no-repeat;

		position: absolute;
		top: -50px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.works__item-text {
	font-family: $text-font;
	line-height: 24px;
	font-weight: 300;
	font-style: italic;
}
