.devices {
  @include padding-top(6.66rem);
  background-color: var(--color-grey);
	background-image:
		linear-gradient(rgba($white, .85), rgba($white, .85)),
		url("../img/backgrounds/devices.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.devices__container {
  @include container;
}

.devices__inner {
  @include margin-top(3rem);
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.devices__mobile {
  width: 48%;
  position: absolute;
  right: -15%;
  bottom: -14%;
  transform: translateX(10%);
}
