.features {
  @include padding-top(7.33rem);
  @include padding-bottom(8rem);
}

.features__container {
  @include container;
}

.features__inner {
  @include margin-top(3.33rem);
  display: grid;
  justify-content: center;
  gap: 30px;

  @media (min-width: $tablet) { margin-top: 80px; }
  @media (min-width: $laptop) { grid-template-columns: max-content 1fr; }
}

.features__img {
	max-height: 380px;
}
