.features {
  @include padding-top(7.33rem);
  @include padding-bottom(8rem);
}

.features__container {
  @include container;
}

.features__inner {
  @include margin-top(3.33rem);
  display: grid;
  grid-template-columns: 100%;
  gap: 30px;

  @media (min-width: $tablet) { margin-top: 80px; }
  @media (min-width: $laptop) { grid-template-columns: 570px calc(100% - 600px); }
}

.features__img {
  display: flex;
  align-items: center;
  justify-content: center;
	max-height: 380px;
}
