.footer {
  @include padding-top(4.66rem);
	background-color: $simple-grey;
}

.footer__container {
  @include container;
  @include margin-bottom(4.66rem);

  display: grid;
  gap: 45px;

  @media (min-width: $tablet) { grid-template-columns: 1fr 1fr; }
  @media (min-width: $laptop) { grid-template-columns: 38.75% 31.25% 22.5%; }
}

.footer__col {
  &--grid {
    display: grid;
    justify-content: center;
  }

  @media (min-width: $tablet) {
    display: block;

    &:first-child {
      grid-column: 1/-1;
    }

    &--grid {
      justify-self: center;
      width: max-content;
    }
  }
  @media (min-width: $laptop) {
    &:first-child {
      grid-column: auto;
    }

    &--grid {
      justify-self: auto;
      width: auto;
    }
  }
}

.footer__logo {
  @include font-size(3rem);
	display: inline-block;
	color: $light-grey;
	font-weight: 700;
  line-height: 1;
	margin-bottom: 30px;
  transition: .2s;

  &:hover,
  &:focus {
    color: var(--color-red);
  }

  &:active {
    color: rgba($red, .4);
  }
}

.footer__text {
	color: $grey;
	font-family: $text-font;
	line-height: 1.6;
}

.footer__followers {
  @include margin-top(2.66rem);
}

.footer__followers-title {
	font-size: 14px;

	.footer__followers-counter {
		font-size: 18px;
    font-weight: 700;
	}
}

.footer__social {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
	margin-bottom: 30px;
	padding-top: 10px;
	border-top: 1px solid $border-color;
}

.footer__social-title {
	color: $grey;
	font-family: $text-font;
	line-height: 1.6;
	font-weight: 300;
	font-style: italic;
	margin-right: 20px;
}

.footer__social-list {
  @include reset-ul;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer__social-item {
	margin-right: 15px;

	&:last-child {
		margin-right: 0;
	}
}

.footer__social-link {
  color: var(--color-green);
  transition: .2s;

  &:hover,
  &:focus {
    color: var(--color-red);
  }
}

.footer__title {
  display: inline-block;
  justify-self: start;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
  transition: .2s;

  &:hover,
  &:focus {
    color: var(--color-red);
    border-bottom-color: var(--color-red);
  }

  &:active {
    opacity: .7;
  }

  @media (min-width: $tablet) {
    margin-bottom: 22px;
  }
}

.footer__inner {
  display: grid;
  gap: 20px;

  @media (min-width: $tablet) { gap: 30px; }
}

.footer__instagram {
  @include reset-ul;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2px;
  padding-right: 2px;
}

.footer__instagram-link {
  display: block;
  overflow: hidden;
}

.footer__instagram-img {
  transition: .2s;

  &:hover,
  &:focus {
    opacity: .9;
  }
}

.footer__instagram-more {
	display: inline-block;
	color: var(--color-grey);
	font-family: $text-font;
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
	margin-top: 17px;
	transition: .2s;

	&:hover,
	&:focus {
    color: var(--color-black);
		text-decoration: underline;
	}

	&:active {
		opacity: .4;
	}
}

.footer__copyright {
	text-align: center;
	border-top: 1px solid var(--color-border);
}

.footer__copyright-text {
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer__copyright-author {
	color: var(--color-red);
	transition: .2s;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&:active {
		opacity: .4;
	}
}
