.partners {
  @include padding-top(4rem);
  @include padding-bottom(4rem);

	background-color: var(--color-simple-grey);
}

.partners__container {
  @include container;
}

.partners__list {
  @include reset-ul;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 15px;

  @media (min-width: 470px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  @media (min-width: $laptop) { grid-template-columns: repeat(6, 1fr); }
}

.partners__item {
  cursor: pointer;
  transition: .2s;

  &:hover,
  &:focus-visible {
    transform: scale(.95);
  }
}
