.team {
	@include padding-top(6.66rem);
  @include padding-bottom(7.33rem);
}

.team__container {
  @include container;
}

.team__cards {
  @include margin-top(3.33rem);

  @media (min-width: $tablet) {
    @include margin-top(6rem);
  }
}

.team__cards-img {
  width: 380px;
  height: 470px;
  object-fit: cover;
}
