@mixin container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@mixin flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
@mixin reset-ul {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
@mixin resetButton {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
@mixin hoverHeaderNav {
  color: var(--color-white);
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  transition: .2s;

  &:hover,
  &:focus {
    color: var(--color-yellow);
    border-color: var(--color-yellow);
  }
}
@mixin line {
	display: block;
	content: "";
	width: 60px;
	height: 3px;
	margin: 0 auto;
	background-color: var(--color-red);
}
